# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientist use are:
- Python
- R
- SQL
- Julia
- Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Plotly
6. GGplot
7. Caret

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List Data Science Tools
- Demonstrait examples of arithmetic expressions in Python

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|VS Code|
|Google Colab|
|IBM Watson|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Moe TO